.songlist{
  p{
    margin-top: 5vw;
    padding:2vw 3vw 0 3vw;
}
.list {
  .van-grid-item__content {
    img {
      width: 100%;
      height: 100%;
    }
    p {
        width: 100%;
      height: 10vw;
    }
  }
}

.music-header .title-nav {
  color: #000000;
}

}
